<div class='row'>
  <div class='col-12'>
    <div class='input-group datetime-picker'>
      <%= f.text_field attr_name, required: true %>
      <span class='input-group-addon'><i class='fa fa-calendar'></i></span>
    </div>
  </div>
</div>
