<div class="modal" id="delete-confirmation-<%= item.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="fa fa-times"></i>
        </button>
        <h4 class="modal-title">予定を削除します</h4>
      </div>
      <div class="modal-body">
        <p>予定「<%= item.name %>」を削除してもよろしいですか。</p>
        <p>削除した予定を元に戻すことはできません。</p>
      </div>
      <div class="modal-footer">
        <%= link_to "はい", item, method: :delete, class: "btn btn-primary" %>
        <a class="btn btn-secondary" data-dismiss="modal">いいえ</a>
      </div>
    </div>
  </div>
</div>
