<% f = BootstrapFormBuilder.new(f, self) %>
<%= f.group :name do %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>
  <%= f.error_messages :name %>
<% end %>
<%= f.group :description do %>
  <%= f.label :description %>
  <%= f.text_area :description, rows: 4 %>
  <%= f.error_messages :description %>
<% end %>
<%= f.group :all_day do %>
  <%= f.custom_check_box :all_day %>
<% end %>
<%= f.group :starts_at do %>
  <%= f.label :starts_at %>
  <%= render 'datetime_picker', f: f, attr_name: :starts_at %>
  <%= f.error_messages :starts_at %>
<% end %>
<%= f.group :ends_at do %>
  <%= f.label :ends_at %>
  <%= render 'datetime_picker', f: f, attr_name: :ends_at %>
  <%= f.error_messages :ends_at %>
<% end %>
