<%= link_to [:edit, item], class: 'btn btn-secondary btn-sm' do %>
  <i class='fa fa-pencil-square'></i> 変更
<% end %>

<%= link_to "#delete-confirmation-#{item.id}", class: 'btn btn-secondary btn-sm', data: { toggle: "modal" } do %>
  <i class='fa fa-trash'></i> 削除
<% end %>
