<%= render 'delete_confirmation', item: @plan_item %>
<div class='container-fluid plan-item'>
  <div class='row'>
    <div class='col-12 hidden-md-up text-right toolbar'>
      <%= link_to :plan_items do -%>
        <i class='fa fa-list fa-lg'></i>
      <% end -%>
      <%= render 'xs_toolbar', item: @plan_item %>
    </div>
    <div class='col-md-12 hidden-sm-down text-right toolbar'>
      <%= link_to :plan_items, class: 'btn btn-secondary btn-sm' do -%>
        <i class='fa fa-list'></i> 予定表へ戻る
      <% end -%>
      <%= render 'md_toolbar', item: @plan_item %>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-md-4 bg-info text-white text-md-right'>件名</div>
    <div class='col-12 col-md-8'><%= @plan_item.name %></div>
  </div>
  <div class='row'>
    <div class='col-12 col-md-4 bg-info text-white text-md-right'>説明</div>
    <div class='col-12 col-md-8'>
      <% @plan_item.description.split("\n").each do |line| -%>
        <%= line %><br>
      <% end -%>
    </div>
  </div>
  <%=
    if @plan_item.all_day?
      render 'show_date_duration'
    else
      render 'show_datetime_duration'
    end
  %>
</div>
