<!DOCTYPE html>
<html>
  <head>
    <title><%= document_title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag('pico_planner.ico') %>
    <%= favicon_link_tag('clock256.png', rel: 'apple-touch-icon') %>
  </head>

  <body>
    <header>
      <h1><%= link_to 'PicoPlanner', :root %></h1>
    </header>
    <main>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </main>
    <footer>
      &copy; <%= Date.today.year %> Oiax Inc.
    </footer>
  </body>
</html>
